extends layout

block content

  h1 Paciente: #{paciente.nome}
  p Prontuário: #{paciente.prontuario}
  p Sexo: #{paciente.sexp}
  p Nascimento: #{paciente.dt_nascto}
  p Tipo de Sangue: #{paciente.tipo_sangue}
  p Internacoes: #{paciente.internacoes}
  p CPF: #{paciente.cpf}
  p Doenças pré existentes: #{paciente.doencas_pre}