extends layout

block content

  h1 Paciente: #{paciente.nome}
  p
    ul
      li Prontuário: #{paciente.prontuario}
      li Sexo: #{paciente.sexp}
      li Nascimento: #{paciente.dt_nascto}
      li Tipo de Sangue: #{paciente.tipo_sangue}
      li Internacoes: #{paciente.internacoes}
      li CPF: #{paciente.cpf}
      li Doenças pré existentes:
      ul
        each doenca in paciente.doencas_pre
          li #{doenca.doenca} desde #{doenca.desde}
    hr
    p
      a(href=paciente.url+'/delete') Apagar paciente
    p
      a(href=paciente.url+'/update') Atualizar paciente
